# Standard
BasedOnStyle: llvm

# Indentation
IndentWidth: 2
ColumnLimit: 100

# Includes
SortIncludes: CaseSensitive
SortUsingDeclarations: true

# Pointer and reference alignment
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true

# Line breaking options
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: false
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: true
NamespaceIndentation: All
