CompileFlags:
    Add:
        - "-Wall"
        - "-std=c++17"
        - "-I${workspaceFolder}/include"
        - "-I${workspaceFolder}/src"
        - "-I/usr/local/include"
        - "-I/usr/include"
        - "-I/Users/henry/Projects/nitro-image-compressor/"

Diagnostics:
  MissingIncludes: Strict
  UnusedIncludes: Strict
